.introduce_1 {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  border: none;
  border-radius: 20px;
  padding: 6px;
  background-color: #e7c664;
  user-select: none;
  word-wrap: break-word;
}

.introduce_2 {
  position: absolute;
  top: calc(50% + 70px);
  transform: translateY(-50%);
  left: 5%;
  border: none;
  border-radius: 20px;
  color: white;
  width: 50%;
  padding: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  user-select: none;
}

a {
  position: absolute;
  top: calc(50% + 150px);
  left: 5%;
  font-style: 40px;
  color: #e7c664;
}

@media screen and (max-width: 600px) {
  .introduce_1 {
    top: calc(50% + 2em);
  }

  .introduce_2 {
    font-size: 25px;
    top: calc(60% + 2em);
    width: 80%;
  }

  a {
    top: calc(75% + 2em);
  }
}

@media screen and (min-width: 610px) and (max-width: 960px) {
  .introduce_1 {
    top: calc(60% + 2em);
  }

  .introduce_2 {
    font-size: 30px;
    top: calc(65% + 2em);
    /* width: 80%; */
  }

  a {
    font-size: 25px;
    top: calc(75% + 2em);
  }
}
